body { background: #1d06df; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 14px; display: flex; }
.block-user-0 { color: #acf6a0; font-size: 21px; margin-bottom: 5px; }
.block-config-1 { color: #3a2e72; font-size: 18px; margin-bottom: 5px; }
.block-uploader-2 { color: #a90082; font-size: 21px; margin-bottom: 5px; }
.block-user-3 { color: #43d47d; font-size: 20px; margin-bottom: 5px; }
.block-router-4 { color: #f6efac; font-size: 15px; margin-bottom: 5px; }
.block-database-5 { color: #beab9c; font-size: 20px; margin-bottom: 5px; }
.block-user-6 { color: #e95b15; font-size: 18px; margin-bottom: 5px; }
.block-auth-7 { color: #cd82e5; font-size: 14px; margin-bottom: 5px; }